<h1><%= @task.title %></h1>
<div class="container">
  <%= form_for @task, as: :edit, url: edit_path(@task)  do |f| %>
    <%= f.label :title %>
    <%= f.text_field :title %>
    <%= f.label :title %>
    <%= f.text_field :details %>
    <%= f.submit %>
  <% end %>
</div>
